/*Assignment 1 - ABOUT ME (PHONE)
Gabrielle Paguio
100820990*/

@charset "UTF-8";

#header
{
    background-color: white;
}
#wrapper
{
    padding-top: 14px;
    padding-left: 15px;
    padding-right: 20px;
}
/* ensures first and last name are closer together; name will be in the middle instead of the left side for phone view */
#name
{
    margin-left: 15%;
}
#lastName
{
    margin-left: 150%;
    margin-bottom: 20%;
}
/* navigation will be under the name in the middle of the page; margins were fixed to make sure nav stays in middle */
#navigation
{
    /*makes the background of the navigation column (right) transparent
    source: https://stackoverflow.com/questions/41418997/html-transparent-text-input-box*/
    background: transparent;
    font-size: 59%;
    text-align: center;
    margin-right: 40px;
}
/*Pages(links) design on navigation bar*/
/*source: https://www.w3schools.com/css/css_link.asp
    how to create design for links*/
/* design of link */
a:link
{
    border: none;
    line-height: 50px;
    padding: 8px;
    background-color: white;
    margin: 0;
    color: #401410;
    height: 0;
    font-family: 'Arvo', serif;
    text-decoration: none;
}
/* design of link if it has already been visited */
a:visited
{
    border: none;
    line-height: 50px;
    padding: 8px;
    background-color: white;
    margin: 0;
    height: 0;
    color: #401410;
    font-family: 'Arvo', serif;
    text-decoration: none;
}
/* design of links if mouse is hovered over links */
a:hover
{
    border: none;
    line-height: 50px;
    background-color: white;
    color: #BF8F73;
    margin: 0;
    font-family: 'Arvo', serif;
    /*first and second values moves the text shadow down by 2px and left 2px, third value 
    is how much the shadow will be blurred, last value is the colour of the shadow*/
    text-shadow: 3px 5px 6.7px #BFB699;
    text-decoration: none;
}
/* design of link once clicked on */
a:active
{
    border: none;
    line-height: 50px;
    padding: 8px;
    background-color: white;
    margin: 0;
    height: 0;
    color: #BF8F73;
    font-family: 'Arvo', serif;
    text-shadow: 3px 5px 6.7px #BFB699;
    text-decoration: none;
}
/*Horizontal line that separates the navigation bar from the content*/
hr
{
    height: 1px;
    width: 100%;
    float: none;
    margin-right: 10px;
    background-color: #8C8074;
}
body
{
    background-color: white;
    font-family: 'Nunito Sans', sans-serif;
}
/* margins were changed so that the video and picture would fit in top section */
.facePic
{
    margin-right: 4%;
    margin-top: 11%;
    width: 18%;
}
/* becomes top section once in mobile view */
#leftCol
{
    background-color: #8C8074;
    width: 100%;
    height: 250px;
    float: none;
}
/* bottom section once in mobile view */
#rightCol
{
    letter-spacing: 2px;
    word-spacing: 4px;
    font-size: 12px;
    text-align: center;
    width: 100%;
    height: 150px;
    background-color: #8C8074;
    color: white;
}
/* introduction of myself; will go to the bottom section instead of left column */
p
{
    margin-top: 33px;
    margin-left: 30px;
    margin-right: 30px;
}
/* margins and width changed so that picture and video can both fit in top section */
video
{
    width: 69%;
    margin-left: 4.5%;
    margin-top: 17%;
}
/* makes sure there is space between picture, video, and text from footer; no floating elements */
#clearBoth, #clearBothTab
{
    clear: both;
}
html
{
    position: relative;
    min-height: 100%;
}
#footer
{
    background-color: transparent;
    width: 100%;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 12px;
}