/*Assignment 1 - MAIN (FULL)
Gabrielle Paguio
100820990*/

@charset "UTF-8";

#header
{
    background-color: white;
}
#wrapper
{
    padding-top: 14px;
    padding-left: 15px;
    padding-right: 20px;
}
#name
{
    font-family: 'Arvo', serif;
    float:left ;
    background-color: white;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 7px;
    color: #8C8074;
    width: 22%;
}
#lastName
{
    margin-left: 100px;
}
#navigation
{
    /*makes the background of the navigation div transparent
    source: https://stackoverflow.com/questions/41418997/html-transparent-text-input-box*/
    background: transparent;
    text-align: right;
    font-size: 70%;
    float: right;
    width: 76%;
}
/* ensures that all 3 images in home page are centered and have equal spacing */
#img
{
    text-align: center;
    word-spacing: 30px;
    margin-bottom: 60px;
}
/* makes all the pictures the same sizes; the taller picture would have the same height as the others' width */
.picOne, .picTwo
{
    width: 300px;
}
.facePic
{
    height: 300px;
}
/* h2 contains the welcome message */
h2
{
    margin-top: 110px;
    color: #73221A;
    text-align: center;
    /* makes the letters more spaced out */
    letter-spacing: 3px;
}
/*Pages(links) design on navigation bar*/
/*source: https://www.w3schools.com/css/css_link.asp
    how to create design for links*/
/* what the links would look like on display */
a:link
{
    border: none;
    line-height: 50px;
    padding: 8px;
    background-color: white;
    margin: 30px;
    color: #401410;
    height: 0;
    font-family: 'Arvo', serif;
    text-decoration: none;
}
/* design of the links once the link has already been click on or has been visited already */
a:visited
{
    border: none;
    line-height: 50px;
    padding: 8px;
    background-color: white;
    margin: 30px;
    height: 0;
    color: #401410;
    font-family: 'Arvo', serif;
    text-decoration: none;
}
/* design on the link when the mouse is hovered over it - lighter colour compared to original */
a:hover
{
    border: none;
    line-height: 50px;
    background-color: white;
    color: #BF8F73;
    margin: 30px;
    font-family: 'Arvo', serif;
    /*first and second values moves the text shadow down by 3px and left 5px, third value 
    is how much the shadow will be blurred, last value is the colour of the shadow*/
    text-shadow: 3px 5px 6.7px #BFB699;
    /* makes sure that the link is not underlined like other general hyperlinks */
    text-decoration: none;
}
/* the design of the link on the nav bar when it is clicked */
a:active
{
    border: none;
    line-height: 50px;
    padding: 8px;
    background-color: white;
    margin: 30px;
    height: 0;
    color: #BF8F73;
    font-family: 'Arvo', serif;
    text-shadow: 3px 5px 6.7px #BFB699;
    text-decoration: none;
}
/*Horizontal line that separates the navigation bar from the content*/
hr
{
    height: 1px;
    width: 100%;
    float: right;
    background-color: #8C8074;
}
p
{
    font-size: 13px;
    font-family: 'Nunito Sans', sans-serif;
}
body
{
    background-color: white;
    font-family: 'Nunito Sans', sans-serif;
}
#clearBoth
{
    clear: both;
}
/* Source: https://stackoverflow.com/questions/3443606/make-footer-stick-to-bottom-of-page-correctly 
    this will make sure the footer will stay at the bottom of the page*/
html
{
    position: relative;
    min-height: 100%;
}
/* contains the copyright and the contact info */
#footer
{
    background-color: transparent;
    /* width is 100% so that the whole footer would be the bottom of the webpage */
    width: 100%;
    /* code ensures the footer will remain at the bottom of the screen */
    position: absolute;
    left: 0;
    /* centers the info */
    text-align: center;
    font-size: 12px;
}