/*Assignment 1 - MAIN (TABLET)
Gabrielle Paguio
100820990*/

@charset "UTF-8";

#header
{
    background-color: white;
}
#wrapper
{
    margin-top: 14px;
    margin-left: 20px;
    margin-right: 30px;
}
#name
{
    font-family: 'Arvo', serif;
    background-color: white;
    font-size: 40px;
    color: #8C8074;
    float: none;
    margin-bottom: 10px;
    margin-left: 20px;
}
#lastName
{
    margin-left: 180px;
}
#navigation
{
    /*makes the background of the navigation column (right) transparent
    source: https://stackoverflow.com/questions/41418997/html-transparent-text-input-box*/
    background: transparent;
    font-size: 59%;
    text-align: center;
    margin-right: 40px;
}
#img
{
    text-align: center;
    word-spacing: 30px;
    margin-bottom: 60px;
}
.facePic
{
    width: 78.5%;
    height: max-content;
}
h2
{
    margin-top: 110px;
    color: #73221A;
    text-align: center;
    letter-spacing: 3px;
}
/*Pages(links) design on navigation bar*/
/*source: https://www.w3schools.com/css/css_link.asp
    how to create design for links*/
a:link
{
    border: none;
    line-height: 50px;
    padding: 8px;
    background-color: white;
    color: #401410;
    height: 0;
    font-family: 'Arvo', serif;
    text-decoration: none;
    margin: 0;
    margin-right: 1px;
}
a:visited
{
    border: none;
    line-height: 50px;
    padding: 8px;
    background-color: white;
    height: 0;
    color: #401410;
    font-family: 'Arvo', serif;
    text-decoration: none;
}
a:hover
{
    border: none;
    line-height: 50px;
    background-color: white;
    color: #BF8F73;
    font-family: 'Arvo', serif;
    /*first and second values moves the text shadow down by 2px and left 2px, third value 
    is how much the shadow will be blurred, last value is the colour of the shadow*/
    text-shadow: 3px 5px 6.7px #BFB699;
    text-decoration: none;
}
a:active
{
    border: none;
    line-height: 50px;
    padding: 8px;
    background-color: white;
    height: 0;
    color: #BF8F73;
    font-family: 'Arvo', serif;
    text-shadow: 3px 5px 6.7px #BFB699;
    text-decoration: none;
}
/*Horizontal line that separates the navigation bar from the content*/
hr
{
    height: 1px;
    width: 100%;
    float: none;
    background-color: #8C8074;
}
p
{
    font-size: 13px;
    font-family: 'Nunito Sans', sans-serif;
}
body
{
    background-color: white;
    font-family: 'Nunito Sans', sans-serif;
}
#clearBoth
{
    clear: both;
}
html
{
    position: relative;
    min-height: 100%;
}
#footer
{
    background-color: transparent;
    width: 100%;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 12px;
}